<%= form_for @conn, Routes.hello_path(@conn, :users), fn f -> %>
<label>
    Name: <%= text_input f, :name %>
</label>

<label>
    Age: <%= select f, :age, 18..100 %>
</label>

        <%= submit "Submit" %>
<% end %>